        body {
            background-color: lightgray;
            font-family: Cambria, Cochin, Georgia, Arial, Helvetica, sans-serif;
        }
        .Heads {
            overflow: auto;
            border-bottom: 5px solid black;
        }
        .Heads img {
            float: left;
            margin-right: 15px;
        }
        .Heads h1 {
            float: left;
        }
        .Maker {
            overflow: auto;
            margin-bottom: 20px;
        }
        .Maker img {
            float: left;
            margin-right: 20px;
            margin-bottom: 10px;
        }
        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }
        .recotacts{
            border: 2px solid black;
            padding: 20px;
            width: 30%;
            margin:10px;
            float:left;
            padding: 10px;
            overflow:auto;
        }
        #pass{
            background-color: aqua;
            padding: 20px;
        }
        .grow{
            margin: 10px;
        }