        body {
            background-color: lightgray;
            font-family: Cambria, Cochin, Georgia, Arial, Helvetica, sans-serif;
        }
        .Heads {
            overflow: auto;
            border-bottom: 5px solid black;
        }
        .Heads img {
            float: left;
            margin-right: 15px;
        }    
        .Heads h1 {
            float: left;
        }    
        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }
        #pass{
            background-color: aqua;
            position: sticky;
            top: 0;
            z-index: 100;
            padding: 20px;
            border: 2px solid blue;
        }
        .grow{
            margin: 10px;

        }
